<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="logoutNav" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <a class="navbar-brand" href="/">분실물 센터</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:text="#{post.submit}"  class="nav-link active" href="/submit">글 등록</a>
            </li>
            <li class="nav-item">
                <a th:text="#{board}" class="nav-link active" href="/board">게시판</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user/login">
                    <div class="btn btn-primary my-2 my-sm-0">
                        로그인
                    </div>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/new">
                    <div class="btn btn-success my-2 my-sm-0">
                        가입
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>