<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="searchForm(boardSearch)">
    <form th:object="${boardSearch}" class="form-inline justify-content-center">
        <div class="form-group mb-2">
            <input type="text" th:field="*{title}" class="form-control m-1"
                   placeholder="제목"/>
            <input type="text" th:field="*{content}" class="form-control m-1"
                   placeholder="내용"/>
            <input type="text" th:field="*{username}" class="form-control m-1"
                   placeholder="회원명"/>
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <select th:field="*{status}" class="form-control">
                <option value="">상태</option>
                <option th:each="status : ${T(study.hlf.entity.BoardStatus).values()}"
                        th:value="${status}"
                        th:text="${status}">option
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">검색</button>
    </form>
</div>
<a class="float-right m-2" th:fragment="submitButton" href="/submit">
    <div th:text="#{post.submit}" class="btn btn-primary my-2 my-sm-0">
        작성
    </div>
</a>
<div th:fragment="board(board, page, id)">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>번호</th>
            <th class="table-title" style="width: 50%">제목</th>
            <th style="width: 10%">작성자</th>
            <th style="width: 10%">날짜</th>
            <th style="width: 10%">조회 수</th>
            <th>상태</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="list : ${board}" th:classappend="${id}==${list.id} ? 'table-primary' : _">
            <td><span th:text="${list.id}"></span></td>
            <td><a th:href="@{/board/{id}(id=${list.id},page=${page})}"><span th:text="${list.title}"></span></a></td>
            <td><span th:text="${list.user.username}"></span></td>
            <td><span th:text="${{list.createdDate}}"></span></td>
            <td><span th:text="${list.hits}"></span></td>
            <td th:if="${list.status.name()}==LOST"><span class="text-info">찾는 중</span></td>
            <td th:if="${list.status.name()}==FOUND"><span class="text-secondary">찾음</span></td>
        </tr>
        </tbody>
    </table>
</div>
</html>
