<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="formHeader">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Custom styles for this template -->
    <title>홍익 분실물 센터</title>
    <style>
        .container-fluid {
            padding: 0;
        }
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>