<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="formHeader">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- TinyMCE Settings-->
    <script src="https://cdn.tiny.cloud/1/9onec6q0rry2u3m7c1yu0in1wld1t0fzrsx4szh6lr4fd1we/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
    <!-- Custom styles for this template -->
    <title>홍익 분실물 센터</title>
    <style>
        .container-fluid {
            padding: 0;
        }
        .container {
            max-width: 650px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>