<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/navs/nav :: nav(user=${user})" />
            <div class="my-table">
                <a th:replace="fragments/board :: submitButton" />
                <div th:replace="fragments/board :: board(board=${board}, page=${pagingList.number+1}, id=-1)" />
            </div>
        </div>
    </div>
    <div th:replace="fragments/board :: searchForm(boardSearch=${boardSearch})" />
    <nav th:replace="fragments/boardPagination :: boardPagination(list=${pagingList}, url=${url})" />
</div>
</body>
</html>