<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/formLogoutHeader :: formHeader" />
<body>
<div class="container login">
    <a href="/">
        <div class="py-5 text-center">
            <h2>홍익 분실물 센터</h2>
        </div>
    </a>
    <form action method="post" th:object="${form}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="mb-2">
            <label for="username">해당 아이디에 등록된 이메일로 임시 비밀번호가 전송됩니다.</label>
            <input type="text" id="username" th:field="*{username}" class="form-control"
                   placeholder="아이디"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{username}" />
        </div>
        <div>
            <input type="text" id="email" th:field="*{email}" class="form-control"
                   placeholder="이메일"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{email}" />
        </div>

        <hr>

        <button class="w-100 mb-2 btn btn-primary btn-group-sm" type="submit">전송</button>
        <button class="w-100 btn btn-secondary btn-group-sm"
                th:onclick="|location.href='@{/}'|"
                type="button">취소</button>
    </form>
</div> <!-- /container -->
</body>
</html>