<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/formLogoutHeader :: formHeader" />
<body>
<div class="container login">
    <a href="/">
        <div class="py-5 text-center">
            <h2>홍익 분실물 센터</h2>
        </div>
    </a>
    <form th:action th:object="${user}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <input type="text" id="username" th:field="*{username}" class="form-control mb-2"
                   placeholder="아이디"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{username}" />
        </div>
        <div>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control" placeholder="비밀번호"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>

        <hr class="my-4">

        <button class="w-100 mb-2 btn btn-primary btn-group-sm" type="submit">로그인</button>
        <a href="/user/new" class="w-100 mb-2 btn btn-success btn-group-sm">회원가입</a>

        <div class="text-center">
            <div class="text-muted">아이디 혹은 비밀번호를 잊으셨나요?</div>
            <a href="/user/help/id">아이디 찾기</a>
            <a href="/user/help/password">비밀번호 찾기</a>
        </div>

        <div class="hr-sect">OR</div>

        <!--OAuth2 로그인 버튼-->
        <a href="/oauth2/authorization/google" class="google btn btn-group-sm sign-btn w-100" role="button">
            <em>
                <img src="/icon/login_btns/free-icon-search-281764.png" width="20px" height="20px">
            </em>
            구글 로그인
        </a>
        <a href="/oauth2/authorization/naver" class="naver btn btn-group-sm sign-btn w-100" role="button">
            <em>
                <img src="/icon/login_btns/btnG_icon_circle.png" width="37px" height="37px">
            </em>
            네이버 로그인
        </a>
    </form>
    <div id="toast-box" class="position-fixed bottom-0 right-0 p-3"
         style="z-index: 5; right: 0; bottom: 0;">
    </div>
</div> <!-- /container -->
</body>
</html>