<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/formLogoutHeader :: formHeader" />
<body>
<div class="container login">
    <a href="/">
        <div class="py-5 text-center">
            <h2>홍익 분실물 센터</h2>
        </div>
    </a>
    <form th:action th:object="${user}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="username">아이디</label>
            <input type="text" id="username" th:field="*{username}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{username}" />
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>
        <hr class="my-4">

        <button class="w-100 mb-2 btn btn-primary btn-lg" type="submit">로그인</button>
        <a href="/new" class="w-100 btn btn-success btn-lg">회원가입</a>

        <div class="hr-sect">OR</div>

        <!--OAuth2 로그인 버튼-->
        <a href="/oauth2/authorization/google" class="google btn btn-lg sign-btn w-100" role="button">
            <em>
                <img src="/icon/login_btns/free-icon-search-281764.png" width="20px" height="20px">
            </em>
            구글 로그인
        </a>
        <a href="/oauth2/authorization/naver" class="naver btn btn-lg sign-btn w-100" role="button">
            <em>
                <img src="/icon/login_btns/btnG_icon_circle.png" width="40px" height="40px">
            </em>
            네이버 로그인
        </a>
    </form>
</div> <!-- /container -->
</body>
</html>