<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/navs/nav :: nav(user=${user})" />
            <div class="my-post">
                <th:block th:if="${post}">
                    <div>
                        <label for="title">제목</label>
                        <div type="text" id="title" th:field="${post.title}" th:text="${post.title}" ></div>
                    </div>
                    <div>
                        <label for="content">내용</label>
                        <div id="content" th:field="${post.content}" th:utext="${post.content}"></div>
                    </div>
                    <div th:if="${user}" class="btn-group-lg">
                        <div th:if="${post.user.id}==${user.id}">
                            <a class="m-2" href="#">
                                <div class="btn btn-info">임시 수정 버튼</div>
                            </a>
                            <a class="m-2" href="#">
                                <div class="btn btn-danger">임시 삭제 버튼</div>
                            </a>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="card mb-2" th:each="comment : ${post.comments}">
                        <div class="card-header bg-light d-flex justify-content-between">
                            <div th:text="${comment.user.username}"></div>
                            <div th:text="${{comment.createdDate}}"></div>
                        </div>
                        <div class="card-body">
                            <div th:text="${comment.content}"></div>
                        </div>
                    </div>

                    <th:block th:if="${user}">
                        <div class="card mb-2">
                            <div class="card-header bg-light">
                                댓글 작성
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-inline mb-2">
                                            <i class="fa fa-user-circle-o fa-2x"></i>
                                        </div>
                                        <form class="form-group">
                                            <textarea class="form-control mb-2"
                                                      id="my-content"
                                                      th:placeholder="#{comment.placeholder}"></textarea>
                                            <button type="button"
                                                    th:onclick="|writeComment('${user.id}', '${post.id}')|" class="btn btn-success">댓글</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </th:block>
                <th:block th:unless="${post}">
                    <div type="text" class="alert-warning" th:text="#{post.nonexistence}" ></div>
                </th:block>
            </div>
            <div class="my-table">
                <a th:if="${user}" th:replace="fragments/board :: submitButton" />
                <div th:replace="fragments/board :: board(board=${board}, page=${pagingList.number+1}, id=${id})"/>
            </div>
        </div>
    </div>
    <nav th:replace="fragments/boardPagination :: boardPagination(list=${pagingList}, url=${url})" />
</div>
</body>
<script type="text/javascript">
    function writeComment(user_id, board_id) {
        var content = document.getElementById("my-content");
        if (content.value.length === 0) {
            alert("댓글 내용을 작성해주세요.");
            content.focus();
            return false;
        }

        var url = "/comment/write"
        var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "POST"};
        var params = {"board_id": board_id, "content": content.value, "user_id": user_id};

        $.ajax({
            url: url,
            type: "POST",
            headers: headers,
            dataType: "text",
            data: JSON.stringify(params),
            success: function(response) {
                if (response.result == false) {
                    alert("댓글 등록에 실패하였습니다.");
                    return false;
                }
                // printCommentList();
                content.value = "";
            },
            error: function(xhr, status, error) {
                console.error(error);
                alert("에러가 발생하였습니다.");
                return false;
            }
        });
    }
</script>
</html>