<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/navs/nav :: nav(user=${user})" />
            <div class="my-post">
                <th:block th:if="${post}">
                    <!--게시물 헤더-->
                    <div class="row justify-content-between align-items-center m-0 mb-2">
                        <h4 class="m-0" th:field="${post.title}" th:text="${post.title}"></h4>
                        <span th:text="${{post.createdDate}}"></span>
                    </div>
                    <div class="w-100 row m-0 justify-content-end" th:text="${post.user.username}"></div>

                    <hr class="my-4">

                    <!--게시물 내용-->
                    <div class="mb-4">
                        <div th:field="${post.content}" th:utext="${post.content}"></div>
                    </div>

                    <!--게시물 수정 & 삭제 버튼-->
                    <div th:if="${user}" class="btn-group-lg">
                        <div th:if="${post.user.id}==${user.id}">
                            <a th:href="|/board/${post.id}/edit|" style="text-decoration: none">
                                <div class="btn btn-info">수정</div>
                            </a>
                            <a href="#">
                                <div class="btn btn-danger" th:onclick="|deletePost(${post.id}, ${post.user.id})|">삭제</div>
                            </a>
                        </div>
                    </div>

                    <hr class="my-4">

                    <!--댓글 개수-->
                    <span class="badge badge-pill badge-primary mb-2"
                          id="commentCount"
                          th:text="'댓글 '+${post.comments.size()}">
                    </span>

                    <!--댓글 보여주기-->
                    <div id="commentTable">
                        <div th:each="comment : ${post.comments}">
                            <div th:replace="fragments/comment :: showComment(comment=${comment}, postId=${post.id})" />
                        </div>
                    </div>

                    <!--댓글 작성 폼-->
                    <th:block th:if="${user}">
                        <div class="card mb-2">
                            <div class="card-header bg-light">
                                댓글 작성
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-inline mb-2">
                                            <i class="fa fa-user-circle-o fa-2x"></i>
                                        </div>
                                        <form class="form-group">
                                            <textarea class="form-control mb-2"
                                                      style="height: 130px"
                                                      id="commentContent"
                                                      th:placeholder="#{comment.placeholder}"></textarea>
                                            <button type="button"
                                                    th:onclick="|writeComment('${user.id}', '${post.id}')|"
                                                    class="btn btn-success float-right">댓글</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>

                </th:block>

                <!--게시물 없을 경우 안내 메시지 출력-->
                <th:block th:unless="${post}">
                    <div type="text" class="alert-warning" th:text="#{post.nonexistence}" ></div>
                </th:block>
            </div>
            <div class="my-table">
                <a th:if="${user}" th:replace="fragments/board :: submitButton" />
                <div th:replace="fragments/board :: board(board=${board}, page=${pagingList.number+1}, id=${id})"/>
            </div>
        </div>
    </div>
    <nav th:replace="fragments/boardPagination :: boardPagination(list=${pagingList}, url=${url})" />
</div>
</body>
<!--댓글 작성 자바스크립트 코드-->
<script type="text/javascript">
    function writeComment(user_id, board_id) {
        var content = document.getElementById("commentContent");
        if (content.value.length === 0) {
            alert("댓글 내용을 작성해주세요.");
            content.focus();
            return false;
        }

        var url = "/comment/write"
        var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "POST"};
        var params = {"board_id": board_id, "content": content.value, "user_id": user_id};

        $.ajax({
            url: url,
            type: "POST",
            headers: headers,
            dataType: "text",
            data: JSON.stringify(params),
            success: function(response) {
                if (response.result == false) {
                    alert("댓글 등록에 실패하였습니다.");
                    return false;
                }
                $('#commentTable').append(response);
                content.value = "";
                var count = document.getElementById("commentCount").innerText;
                count = count.substr(3);
                document.getElementById("commentCount").innerText = "댓글 " + (parseInt(count)+1).toString();
            },
            error: function(xhr, status, error) {
                console.error(error);
                alert("에러가 발생하였습니다.");
                return false;
            }
        });
    }
</script>
<!--댓글 수정 자바스크립트 코드-->
<script type="text/javascript">
    function editComment(user_id, board_id, comment_id) {
        var content = document.getElementById("editContent"+comment_id);
        if (content.value.length === 0) {
            alert("댓글 내용을 작성해주세요.");
            content.focus();
            return false;
        }

        var url = "/comment/"+comment_id+"/edit";
        var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "POST"};
        var params = {"board_id": board_id, "content": content.value, "user_id": user_id, "comment_id": comment_id};

        $.ajax({
            url: url,
            type: "POST",
            headers: headers,
            dataType: "text",
            data: JSON.stringify(params),
            success: function(response) {
                if (response.result == false) {
                    alert("댓글 등록에 실패하였습니다.");
                    return false;
                }
                $("#comment-edit-btn"+comment_id).click();
                document.getElementById("comment-content"+comment_id).innerText = content.value;
            },
            error: function(xhr, status, error) {
                console.error(error);
                alert("에러가 발생하였습니다.");
                return false;
            }
        });
    }
</script>
<!--댓글 삭제 자바스크립트 코드-->
<script type="text/javascript">
    function deleteComment(commentId, userId) {

        if(!confirm("댓글을 삭제하시겠습니까?")){
            return false;
        }

        var url = "/comment/"+ commentId +"/delete";
        var headers = {"Content-Type": "application/json; charset=utf-8", "X-HTTP-Method-Override": "POST"};
        var params = {"commentId": commentId, "userId": userId};

        $.ajax({
            url: url,
            headers: headers,
            type: 'POST',
            dataType: 'text',
            data: JSON.stringify(params)
        }).done(function (data, textStatus, xhr) {
            if(xhr.status == 200){
                $("#comment"+commentId).remove();
                var count = document.getElementById("commentCount").innerText;
                count = count.substr(3);
                document.getElementById("commentCount").innerText = "댓글 " + (parseInt(count)-1).toString();
            } else {
                alert("서버 오류로 삭제에 실패했습니다.");
            }
        })
    }
</script>
<!--게시물 삭제 자바스크립트 코드-->
<script type="text/javascript">
    function deletePost(postId, userId) {

        if(!confirm("게시물을 삭제하시겠습니까?")){
            return false;
        }

        var url = "/board/"+ postId +"/delete";
        var headers = {"Content-Type": "application/json; charset=utf-8", "X-HTTP-Method-Override": "POST"};
        var params = {"postId": postId, "userId": userId};

        $.ajax({
            url: url,
            headers: headers,
            type: 'POST',
            dataType: 'text',
            data: JSON.stringify(params)
        }).done(function (data, textStatus, xhr) {
            if(xhr.status == 200){
               alert("게시물을 삭제했습니다.");
               location.href = '/board';
            } else {
                alert("서버 오류로 삭제에 실패했습니다.");
            }
        })
    }
</script>
</html>