<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/formLogoutHeader :: formHeader" />
<body>
<div class="container">
    <a href="/">
        <div class="py-5 text-center">
            <h2>홍익 분실물 센터</h2>
        </div>
    </a>
    <form th:action th:object="${form}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div class="mb-2">
            <input type="text" id="title" th:field="*{title}" class="form-control" placeholder="제목"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{title}" />
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <select th:field="*{status}" class="form-control" th:errorclass="field-error">
                <option value="">분실, 습득 구분</option>
                <option th:each="status : ${T(study.hlf.entity.BoardStatus).values()}"
                        th:value="${status}"
                        th:text="${status}==${T(study.hlf.entity.BoardStatus).FOUND} ? '습득' : '분실'">option
                </option>
            </select>
            <div class="field-error" th:errors="*{status}"></div>
        </div>
        <div>
            <textarea id="mytextarea" name="mytextarea" th:field="*{content}" th:text="*{content}"
                      class="form-control" rows="30"
                      th:errorclass="field-error"></textarea>
            <div class="field-error" th:errors="*{content}" />
        </div>

        <input type="hidden" th:field="*{longitude}" id="longitude" name="longitude">
        <input type="hidden" th:field="*{latitude}" id="latitude" name="latitude">

        <div class="hr-sect">장소 등록</div>

        <label for="mapContainer">물건을 잃어버린 장소 혹은 습득한 장소를 클릭하여 등록해주세요!</label>
        <div class="map_wrap" id="mapContainer">
            <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
            <div class="hAddr">
                <span class="title">지도중심기준 행정동 주소정보</span>
                <span id="centerAddr"></span>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 mb-5 btn btn-primary btn-group-sm" id="save" type="submit">작성</button>
            </div>
        </div>
    </form>
    <div id="toast-box" class="position-fixed bottom-0 right-0 p-3"
         style="z-index: 5; right: 0; bottom: 0;">
    </div>
</div>
<!--카카오 api 사용위한 api키 등록-->
<script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey='+#{kakao_map_api_key}+'&libraries=services'"></script>
<!--지도 설정, 생성-->
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 2 // 지도의 확대 레벨
        };

    // 지도에 표시될 마커 입니다
    var marker;

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 등록된 좌표 없을 시 홍익대학교 기본 주소, 있을 시 그 장소에 마커를 생성해서 보여줌
    if(document.getElementById("latitude").value == ''){
        // 주소로 좌표를 검색합니다
        geocoder.addressSearch('서울특별시 마포구 와우산로 94 홍익대학교', function(result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                document.getElementById("latitude").value = result[0].y;
                document.getElementById("longitude").value = result[0].x;

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);

                // 마커를 생성합니다
                marker = new kakao.maps.Marker({
                    position: coords
                });

                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);
            }
        });
    } else {
        var coords = new kakao.maps.LatLng(document.getElementById("latitude").value,
            document.getElementById("longitude").value);
        map.setCenter(coords);

        marker = new kakao.maps.Marker({
            position: coords
        });

        marker.setMap(map);
    }

    // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다
    var infowindow = new kakao.maps.InfoWindow({zindex:1});

    // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
    searchAddrFromCoords(map.getCenter(), displayCenterInfo);

    // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                var content = '<div class="bAddr">' +
                    '<span class="title">법정동 주소정보</span>' +
                    detailAddr +
                    '</div>';

                // 마커를 클릭한 위치에 표시합니다
                marker.setPosition(mouseEvent.latLng);
                marker.setMap(map);

                // input 태그 좌표값 변경
                document.getElementById("latitude").value = mouseEvent.latLng.Ma;
                document.getElementById("longitude").value = mouseEvent.latLng.La;

                // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                infowindow.setContent(content);
                infowindow.open(map, marker);
            }
        });
    });

    // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'idle', function() {
        searchAddrFromCoords(map.getCenter(), displayCenterInfo);
    });

    function searchAddrFromCoords(coords, callback) {
        // 좌표로 행정동 주소 정보를 요청합니다
        geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
    }

    function searchDetailAddrFromCoords(coords, callback) {
        // 좌표로 법정동 상세 주소 정보를 요청합니다
        geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
    }

    // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
    function displayCenterInfo(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            var infoDiv = document.getElementById('centerAddr');

            for(var i = 0; i < result.length; i++) {
                // 행정동의 region_type 값은 'H' 이므로
                if (result[i].region_type === 'H') {
                    infoDiv.innerHTML = result[i].address_name;
                    break;
                }
            }
        }
    }
</script>
</body>
</html>